@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
}

.content {
  display: grid;
  place-items: center;
  height: 100vh;
}
.content .results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 920px) {
  .content .results {
    max-width: 750px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: center;
    -webkit-box-shadow: 14px 21px 30px -18px #e9effd;
    -moz-box-shadow: 14px 21px 30px -18px #e9effd;
    box-shadow: 19px 26px 30px -18px #c5d3f2;
  }
}
.content .results .result {
  width: 90%;
  max-width: 370px;
  height: 345px;
  background: linear-gradient(180deg, hsl(252deg, 100%, 67%) 10%, hsl(241deg, 81%, 54%) 100%);
  border-radius: 30px;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 920px) {
  .content .results .result {
    height: 514px;
    justify-content: center;
    background: linear-gradient(180deg, #6542fe 40%, #312cea 100%);
  }
}
.content .results .result__title {
  padding: 24px 0;
  font-size: 1.8rem;
  color: hsl(241deg, 100%, 89%);
}
@media (min-width: 920px) {
  .content .results .result__title {
    font-size: 2.4rem;
    padding: 0 0 4rem 0;
  }
}
.content .results .result__score {
  width: 140px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(180deg, hsl(256deg, 72%, 46%) 10%, hsl(241deg, 81%, 54%) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 920px) {
  .content .results .result__score {
    width: 205px;
    height: 195px;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, #4c23ca 10%, #4635f3 50%);
  }
}
.content .results .result__score .score__point {
  font-size: 4rem;
}
@media (min-width: 920px) {
  .content .results .result__score .score__point {
    font-size: 5.6rem;
  }
}
.content .results .result__score .score__of {
  font-size: 1.2rem;
  color: hsl(241deg, 100%, 89%);
}
@media (min-width: 920px) {
  .content .results .result__score .score__of {
    font-size: 1.8rem;
  }
}
.content .results .result__info {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 0.2rem;
}
@media (min-width: 920px) {
  .content .results .result__info {
    font-size: 2.6rem;
  }
}
.content .results .result__description {
  width: 250px;
  font-size: 1.4rem;
  color: hsl(241deg, 100%, 89%);
  text-align: center;
  line-height: 2rem;
}
@media (min-width: 920px) {
  .content .results .result__description {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
}
.content .results .summary {
  width: 90%;
  max-width: 370px;
  padding: 30px;
}
@media (min-width: 920px) {
  .content .results .summary {
    border-radius: 30px;
  }
}
.content .results .summary__title {
  font-size: 1.6rem;
  color: hsl(224deg, 30%, 27%);
  margin-bottom: 30px;
  font-weight: 800;
}
@media (min-width: 920px) {
  .content .results .summary__title {
    font-size: 2rem;
  }
}
.content .results .summary .tags {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.content .results .summary .tags .tag {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: aquamarine;
  border-radius: 12px;
  padding: 0 20px;
}
@media (min-width: 920px) {
  .content .results .summary .tags .tag {
    font-size: 1.6rem;
  }
}
.content .results .summary .tags .tag__icon {
  margin-right: 14px;
}
.content .results .summary .tags .tag__name {
  font-size: 1.4rem;
}
@media (min-width: 920px) {
  .content .results .summary .tags .tag__name {
    font-weight: 700;
  }
}
.content .results .summary .tags .tag__score {
  margin-left: auto;
  color: hsl(241deg, 100%, 89%);
}
.content .results .summary .tags .tag__score span {
  color: hsl(224deg, 30%, 27%);
  font-weight: 700;
}
.content .results .summary .tags .tag--reaction {
  background-color: #f9eae8;
}
.content .results .summary .tags .tag--reaction :nth-child(2) {
  color: hsl(0deg, 100%, 67%);
}
.content .results .summary .tags .tag--memory {
  background-color: #fff5dd;
}
.content .results .summary .tags .tag--memory :nth-child(2) {
  color: hsl(39deg, 100%, 56%);
}
.content .results .summary .tags .tag--verbal {
  background-color: #e9fbf9;
}
.content .results .summary .tags .tag--verbal :nth-child(2) {
  color: hsl(166deg, 100%, 37%);
}
.content .results .summary .tags .tag--visual {
  background-color: #f3f3fd;
}
.content .results .summary .tags .tag--visual :nth-child(2) {
  color: hsl(234deg, 85%, 45%);
}
.content .results .summary .cta {
  margin-top: 30px;
  width: 100%;
  height: 56px;
  border-radius: 30px;
  border: none;
  background-color: hsl(224deg, 30%, 27%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.6rem;
  outline: none;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.content .results .summary .cta:hover {
  background: linear-gradient(180deg, hsl(252deg, 100%, 67%) 10%, hsl(241deg, 81%, 54%) 100%);
}

/*# sourceMappingURL=style.css.map */
